body {
  background-color: #ecd9d9;
}
img {
  display: block;
  margin-left: 200px;
  margin-right: auto;
  transition-property: transform;
  transition-duration: 3s;
  transition-timing-function: ease-in-out;
}
h1 {
  color: #AA336A;
  margin-left: 200px;
  text-align:center;
}

h4 {
  color: #AA336A;
  margin-left: 200px;
  text-align:center;
}

p {
  color: #AA336A;
  margin-left: 200px;
  margin-bottom: 200px;
  text-align: center;
}
body {
  font-family: "Lato", sans-serif;
  background-image: url('img_girl.jpg');
}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #544265;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 6px 6px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #826d87;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px #A94064;
  padding: 50px;
  margin: 20px;
}


.center {
  display: block;
  margin-left: 390px;
  margin-right: 390px;
  width:60%;
}

.image1 {
  display: block;
  margin-left: 200px;
  margin-right: auto;
}

img:hover {
  transform: scale(1.25);
}

.sprite {
  background:url('icon.png') no-repeat -54px -129px;
  width:33px;
  height:33px;
}

.sprite:hover {
  background:url('icon.png') no-repeat -54px -55px;
  width:33px;
  height:33px;
  margin: auto auto;
}

div {
	border: 10px solid transparent;
	padding: 15px;
	border-image: url(border.png) 30
	round;
}